.logo-img{
    height: 30px;
    width: 40px;
}

.site-name{
    color: azure;
    font-size: larger;
    font-weight: bold;
}

.user-img{
    color: azure;
}

.link-item{
    text-decoration: none;
    color: azure;
    text-underline-position: unset;
}

.user-img{
   
    margin: 5px 7px;
}

.dark {
    background-color: #333;
    color: #fff;
  }
  .light {
    background-color: #fff;
    color: #333;
  }